img {
    width: 25%;
    height: 25%;
}

.mapbackground, .jumbotron {
    background-image: url("../images/background.jpeg");
    
}

.questionblock {
    background-image: url("../images/map.jpg");
    padding: 0px 10px; 
}

.flag{
    height: 50px; 
    background-image: url("../images/scorebackground.jpg");
    opacity: 0.5;
}

h1{
    text-align: center;
    margin-top: -30px; 
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}


#harrypotter1 {
    width: 60%;
    height: 65%; 
    margin: auto; 
    display: block; 
}

.choice {
    display: block; 
    margin: 10px auto; 
}


.start-button, .answers, #timer, #random-question, .wronganswer, .answerimage, #score-block {
    font-family: 'PT Sans Narrow', sans-serif; 
    padding: 10px 0; 
    font-weight: 400px;
    font-size:25px; 
    text-align: center; 
    display: block;  
}

.start-button {
    margin-top: -50px; 
}

#timer {
    background-color: transparent;
    padding: 15px 0 0 0; 
    width: 25%; 
    margin: auto; 
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400px;
    font-size: 30px; 
}

#random-question {
    background-color: wheat;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 10px; 
    padding: 20px 0; 
    font-weight: 400px;
    font-size:30px; 
}

.answers {
    padding: 15px 0 40px 0; 
}

.timeimage  {
    position: relative; 
}

.text-block #timer {
    position: absolute;
    bottom: 0px; 
    right: 37.5%;
  }


#harrypotter2 {
    width: 35%;
    height: 35%; 
    margin: auto; 
    display: block;
 